# MYSQL SET UP
MYSQL_DRIVER="mysql"
MYSQL_HOST=""
MYSQL_USER=""
# 'MYSQL_PASSWORD' is the MYSQL_ROOT_PASSWORD
MYSQL_PASSWORD=""
MYSQL_DBNAME=""
MYSQL_SSLMODE=""

# REDIS SET UP
REDIS_HOST=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

# COOKIE SET UP
AUTH_COOKIE_KEY=""

# JWT SET UP
JWT_SECRET=""
JWT_TTL="24h"

# NAVER BOOK API
NAVER_API_CLIENT_ID=""
NAVER_API_CLIENT_SECRET=""
