services:
  my-home-library:
    env_file:
      - .env

  redis:
    env_file:
      - .env

  mysql:
    env_file:
      - .env

  zookeeper:
    env_file:
      - .env

  kafka:
    env_file:
      - .env
